---
version: '3.4'

networks:
  expressed-realms-network:
    driver: bridge

services:
  myapp:
    container_name: societyinshadows.org
    image: node:23.11.0
    working_dir: /app
    ports:
      - '3000:3000'
      - '3001:3001'
    environment:
      - VITE_HTTPS_KEY=/https/key.pem
      - VITE_HTTPS_CERT=/https/cert.pem
      - VITE_PORT=3001
      - VITE_API_SERVER_LOCATION=https://host.docker.internal:8443
      - VITE_COOKIE_DOMAIN_NAME=.localhost
      - DEV=true
    volumes:
      - ./client/:/app # This is only here to allow automatic updates on local machines as you are editing the code
      - ${USERPROFILE}/.aspnet/https:/https # Host Certificate Location (key.pem/cert.pem) : Image Path
    command: sh -c "npx vite --host 0.0.0.0"
    networks:
      - expressed-realms-network

  dapr-sidecar:
    image: "daprio/daprd:edge"
    command: ["./daprd", "-app-id", "webapi", "-app-port", "8080", "-resources-path", "/components"]
    volumes:
      - ./dapr/components:/components
      - ./secrets.json:/secrets.json
    ports:
      - "3500:3500"
      - "50001:50001"
    networks:
      - expressed-realms-network

  postgres:
    container_name: expressed-realms-db
    image: postgres:16-alpine
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=expressedRealms
      - POSTGRES_USER=dev_user
      - POSTGRES_PASSWORD=dev_password

    networks:
      - expressed-realms-network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d expressedRealms"]
      interval: 2s
      timeout: 5s
      retries: 3

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: expressed-realms-db-admin
    ports:
      - "127.0.0.1:8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: dev_admin@example.com
      PGADMIN_DEFAULT_PASSWORD: VeryFancyPassword1!
      # https://github.com/docker/compose/issues/8578#issuecomment-945228061
      GUNICORN_ACCESS_LOGFILE: '/dev/null'
    volumes:
      - pgAdmin_data:/var/lib/pgadmin
    restart: always
    networks:
      - expressed-realms-network
    depends_on:
      postgres:
        condition: service_started

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    hostname: azurite
    restart: always
    command: "azurite-blob --blobHost 0.0.0.0 --blobPort 10000 --location /data"
    ports:
      - "10000:10000"
    volumes:
      - azurite-data:/data
    networks:
      - expressed-realms-network

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    volumes:
      - mailpit_data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
      MP_SMTP_DISABLE_RDNS: 1
    networks:
      - expressed-realms-network

  flipt:
    container_name: flipt
    image: flipt/flipt:latest
    ports:
      - "8050:8080"    # UI/API
      - "9000:9000"    # GRPC
    volumes:
      - flipt_data:/var/opt/flipt
    environment:
      - FLIPT_LOG_LEVEL=ERROR
      - FLIPT_DB_URL=file:/var/opt/flipt/flipt.db
    networks:
      - expressed-realms-network
    restart: always

volumes:
  ignore:
  db_data:
  pgAdmin_data:
  azurite-data:
  flipt_data:
  mailpit_data:
