---
version: '3.4'

services:
  myapp:
    environment:
      - VITE_API_SERVER_LOCATION=https://webapi:8443
    depends_on:
      webapi:
        condition: service_started

  webapi:
    container_name: api.societyinshadows.org
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__KeyPath=/https/key.pem
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/cert.pem
      - IS_DOCKER_COMPOSE=true
      - DAPR_APP_ID=webapi
      - DAPR_GRPC_ENDPOINT=http://dapr-sidecar:50001
      - DOTNET_URLS=http://+:8080;https://+:8443
    ports:
      - '5000:8080'
      - '5001:8443'
    volumes:
      - ${USERPROFILE}/.aspnet/https:/https:ro
    networks:
      - expressed-realms-network
    depends_on:
      postgres:
        condition: service_healthy
      azurite:
        condition: service_started
      flipt:
        condition: service_started
      mailpit:
        condition: service_started
      dapr-sidecar:
        condition: service_started

  dapr-sidecar:
    volumes:
      - ./dapr/components:/components
      - ./secrets_docker.json:/secrets.json
