---
version: '3.4'

networks:
  expressed-realms-network:
    driver: bridge

services:
  myapp:
    container_name: societyinshadows.org
    image: node:23.11.0
    working_dir: /app
    ports:
      - '3000:3000'
      - '3001:3001'
    environment:
      - VITE_HTTPS_KEY=/https/key.pem
      - VITE_HTTPS_CERT=/https/cert.pem
      - VITE_PORT=3001
      - VITE_API_SERVER_LOCATION=https://webapi:8443
      - VITE_COOKIE_DOMAIN_NAME=.localhost
      - DEV=true
    volumes:
      - ./client/:/app # This is only here to allow automatic updates on local machines as you are editing the code
      - ${USERPROFILE}/.aspnet/https:/https # Host Certificate Location (key.pem/cert.pem) : Image Path
    command: sh -c "npx vite --host 0.0.0.0"
    networks:
      - expressed-realms-network
    depends_on:
      webapi:
        condition: service_started

  # myProductionApp:
  #  container_name: societyinshadows.org
  #  build:
  #    context: ./client
  #    dockerfile: Dockerfile
  #    args:
  #      MODE: development
  #  ports:
  #    - '6000:3000'
  #    - '6001:443'
  #  environment:
  #    - VITE_HTTPS_KEY=/https/key.pem
  #    - VITE_HTTPS_CERT=/https/cert.pem
  #    - VITE_PORT=443
  #    - VITE_API_BASE_URL=http://localhost:5000/
  #  networks:
  #    - expressed-realms-network
  #  depends_on:
  #    webapi:
  #      condition: service_started

  webapi:
    container_name: api.societyinshadows.org
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_HTTPS_PORTS=8443
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__KeyPath=/https/key.pem
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/cert.pem
      - POSTGRES-CONNECTION-STRING=Host=expressed-realms-db;Port=5432;Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}
      - AZURE-STORAGEBLOB-RESOURCEENDPOINT=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1; # gitleaks:allow
      - FRONT-END-BASE-URL=http://myapp:3001
      - SMTP-SERVER=mailpit:1025
      - NO-REPLY-EMAIL=no-reply@societyinshadows.org
      - CLIENT-COOKIE-DOMAIN=.localhost
      - FEATURE-FLAG-URL=http://flipt:8080/
      - DISCORD-BOT-TOKEN=${DISCORD_BOT_TOKEN}
      - APPLICATION-INSIGHTS-CONNECTION-STRING=${APPLICATION_INSIGHTS_CONNECTION_STRING}
    ports:
      - '5000:8080'
      - '5001:8443'
    volumes:
      - ${USERPROFILE}/.aspnet/https:/https:ro
    networks:
      - expressed-realms-network
    depends_on:
      postgres:
        condition: service_healthy
      azurite:
        condition: service_started
      flipt:
        condition: service_started
      mailpit:
        condition: service_started

  postgres:
    container_name: expressed-realms-db
    image: postgres:16-alpine
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
    networks:
      - expressed-realms-network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d expressedRealms"]
      interval: 2s
      timeout: 5s
      retries: 3

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: expressed-realms-db-admin
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
      # https://github.com/docker/compose/issues/8578#issuecomment-945228061
      GUNICORN_ACCESS_LOGFILE: '/dev/null'
    volumes:
      - pgAdmin_data:/var/lib/pgadmin
    restart: always
    networks:
      - expressed-realms-network
    depends_on:
      postgres:
        condition: service_started

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    hostname: azurite
    restart: always
    command: "azurite-blob --blobHost 0.0.0.0 --blobPort 10000 --location /data"
    ports:
      - "10000:10000"
    volumes:
      - azurite-data:/data
    networks:
      - expressed-realms-network

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    volumes:
      - mailpit_data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
      MP_SMTP_DISABLE_RDNS: 1
    networks:
      - expressed-realms-network

  flipt:
    container_name: flipt
    image: flipt/flipt:latest
    ports:
      - "8050:8080"    # UI/API
      - "9000:9000"    # GRPC
    volumes:
      - flipt_data:/var/opt/flipt
    environment:
      - FLIPT_LOG_LEVEL=ERROR
      - FLIPT_DB_URL=file:/var/opt/flipt/flipt.db
    networks:
      - expressed-realms-network
    restart: always
  
  hoppscotch:
    image: hoppscotch/hoppscotch:latest
    container_name: hoppscotch
    ports:
      - "3003:3000"
      - "3100:3100"
      - "3170:3170"
    env_file:
      - hoppscotch.env
    restart: unless-stopped

volumes:
  ignore:
  db_data:
  pgAdmin_data:
  azurite-data:
  flipt_data:
  mailpit_data:
  hoppscotch-db-data:
