
/* Material Design Override - Allows icon to be centered with rest of text */
.inline-icon {
    vertical-align: bottom;
}


.custom-message{
    background: color-mix(in srgb,var(--p-blue-500),transparent 84%);
    color: var(--p-blue-500);
    border-radius:  var(--p-content-border-radius);
    outline-width:  var(--p-content-border-width);
    outline-style: solid;
    -webkit-tap-highlight-color: transparent;
}